.manage-user-container {
    padding: 10px;


    .title{
        font-weight: 600;
        font-size: 20px;
    }

    .users-content {

        .table-users-container {
            padding: 0 10px;
            .table-user-container {
                position: relative;
                height: 390px;

                // flex-direction: column;
                // justify-content: space-around;
                .user-pagination {
                    width: 100%;
                    display: flex;
                    justify-content:center;
                    position: absolute;
                    bottom: 0;
                }
            }

        }


        .btn-add-new {
            border: none;
            button {
                margin: 15px 0;
            }
        }
    }
}

.modal-add-user{
    .img-preview {
        border: 1px  dashed #ccc;
        height: 150px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        color: #ccc;
        align-items: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .label-upload{
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px solid red;
        width: fit-content;
        padding: 3px 10px;
        background-color: #eeee;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.6s;
        &:hover{
            background-color: #dcdcdc;
        }
    }
}